apiVersion: apps/v1
kind: Deployment
metadata:
  name: golang-helloworld
  labels:
    app: golang-helloworld
spec:
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: golang-helloworld
        tier: golang-helloworld
    spec:
      containers:
      - name: helloworld
        image: gokulnathb/hello:latest
        imagePullPolicy: Always
